/*
 * Ajax Load More
 * http://wordpress.org/plugins/ajax-load-more/
 *
 * Copyright 2015-2017 Connekt Media - https://connekthq.com
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Author: Darren Cooney
 * Twitter: @KaptonKaos
*/

button.alm-load-more-btn {
    font-size: 15px;
    font-weight: 600;
    width: auto;
    height: 42px;
    line-height: 42px;
    background: #ed7070;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin: 0 0 4px;
    padding: 0 20px;
    display: inline-block;
    position: relative;
    -webkit-transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
    transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    /* Loading */
    /* Loaded / Done */
    /* Loading Icon */
    /* Loading :before */
}
button.alm-load-more-btn:hover {
    background-color: #e06464;
    color: #fff;
    text-decoration: none;
}
button.alm-load-more-btn:active {
    -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
button.alm-load-more-btn:focus,
button.alm-load-more-btn:active {
    outline: none;
}
button.alm-load-more-btn.loading {
    padding-left: 44px;
}
button.alm-load-more-btn.done {
    cursor: default;
    opacity: 0.2;
    background-color: #ed7070;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
button.alm-load-more-btn:before,
button.alm-load-more-btn.done:before {
    background: none;
    width: 0;
}
button.alm-load-more-btn.loading:before {
    background: #fff url("../../img/ajax-loader.gif") no-repeat center center;
    width: 30px;
    height: 30px;
    margin: 0 0 0 6px;
    border-radius: 2px;
    display: inline-block;
    z-index: 0;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}
.alm-masonry,
.alm-btn-wrap {
    display: block;
    overflow: hidden;
    clear: both;
}
.alm-btn-wrap {
    text-align: center;
    padding: 10px 0 25px;
}
/* Blue */
// .ajax-load-more-wrap.blue button.alm-load-more-btn {
//     background-color: #0081bf;
// }
// .ajax-load-more-wrap.blue button.alm-load-more-btn:hover,
// .ajax-load-more-wrap.blue button.alm-load-more-btn.done {
//     background-color: #0073aa;
// }
// /* green */

// .ajax-load-more-wrap.green button.alm-load-more-btn {
//     background-color: #6fca68;
// }
// .ajax-load-more-wrap.green button.alm-load-more-btn:hover,
// .ajax-load-more-wrap.green button.alm-load-more-btn.done {
//     background-color: #64b95e;
// }
// /* red */

// .ajax-load-more-wrap.red button.alm-load-more-btn {
//     background-color: #ca4b4b;
// }
// .ajax-load-more-wrap.red button.alm-load-more-btn:hover,
// .ajax-load-more-wrap.red button.alm-load-more-btn.done {
//     background-color: #b13b3b;
// }
// /* purple */

// .ajax-load-more-wrap.purple button.alm-load-more-btn {
//     background-color: #a86bb9;
// }
// .ajax-load-more-wrap.purple button.alm-load-more-btn:hover,
// .ajax-load-more-wrap.purple button.alm-load-more-btn.done {
//     background-color: #9963a8;
// }
// /* grey */

// .ajax-load-more-wrap.grey button.alm-load-more-btn {
//     background-color: #888;
// }
// .ajax-load-more-wrap.grey button.alm-load-more-btn:hover,
// .ajax-load-more-wrap.grey button.alm-load-more-btn.done {
//     background-color: #777;
// }
// /* white */

// .ajax-load-more-wrap.white button.alm-load-more-btn {
//     background-color: #fff;
//     color: #666;
//     border: 1px solid #efefef;
// }
// .ajax-load-more-wrap.white button.alm-load-more-btn:hover,
// .ajax-load-more-wrap.white button.alm-load-more-btn.done {
//     background-color: #efefef;
//     color: #333;
// }
// .ajax-load-more-wrap.white button.alm-load-more-btn.done {
//     border-color: #fff;
// }
/* Infinite */

.ajax-load-more-wrap.infinite button.alm-load-more-btn {
    width: 100%;
    background-color: transparent !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../../../core/img/spinner.gif");
    border: none !important;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    overflow: hidden;
    text-indent: -9999px;
    cursor: default !important;
    outline: none !important;
}
.ajax-load-more-wrap.infinite button.alm-load-more-btn:before {
    display: none !important;
}
.ajax-load-more-wrap.infinite button.alm-load-more-btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ajax-load-more-wrap.infinite button.alm-load-more-btn.done {
    opacity: 0;
}
.ajax-load-more-wrap.infinite button.alm-load-more-btn.loading {
    opacity: 1;
}
.ajax-load-more-wrap.infinite.skype button.alm-load-more-btn {
    background-image: url("../../../core/img/spinner-skype.gif");
}
.ajax-load-more-wrap.infinite.ring button.alm-load-more-btn {
    background-image: url("../../../core/img/spinner-ring.gif");
}
.ajax-load-more-wrap.infinite.fading-blocks button.alm-load-more-btn {
    background-image: url("../../../core/img/loader-fading-blocks.gif");
}
.ajax-load-more-wrap.infinite.fading-circles button.alm-load-more-btn {
    background-image: url("../../../core/img/loader-fading-circles.gif");
}
.ajax-load-more-wrap.infinite.chasing-arrows button.alm-load-more-btn {
    background-image: url("../../../core/img/spinner-chasing-arrows.gif");
}
/*
*  Generic alm-listing styles
*  @since 1.0.0
*/

.alm-listing {
    margin: 0;
    padding: 0;
}
.alm-listing li {
    background: none;
    margin: 0 0 30px;
    padding: 0 0 0 170px;
    overflow: hidden;
    position: relative;
    list-style: none;
}
.alm-listing li.no-img {
    padding: 0;
}
.alm-listing li p {
    margin: 0;
}
.alm-listing li h3 {
    margin: 0 0 10px;
}
.alm-listing li img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
}

.alm-load-more-btn.more {
    background: $forest-green;
    border-radius: 0;
    text-transform: uppercase;
    font-family: $sans-serif;
    font-size: 1rem;
    width: 100%;
    padding: .5rem;
    height: auto;

    @include mq-medium {
        font-size: $size-6;
    }

    &:hover {
        background: $forest-green-hover;
    }
    &.done {
        display: none;
    }
    &.loading {}
}