.blog-article {
    .container {
        width: 90%;
        @include mq-medium {
            width: 75%;
        }
    }
}
.article-header {
    color: $forest-green;
    margin-bottom: 4rem;
}
.article-category {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: $bold;
}
.article-title {
    font-size: $size-2;
    margin-bottom: 1rem;
    font-weight: $bold;
}
.article-author {
    width: 50%;
    display: inline-block;
    float: left;
}
.article-date {
    width: 50%;
    display: inline-block;
}
.article-content {
    margin-bottom: 4rem;
    p {
        max-width: 100%;
        @include mq-large {
            max-width: 70%;
        }
    }
    blockquote {
        p {
            max-width: 100%;
        }
        font-size: $size-5;
        font-weight: $bold;
        padding-top: 3rem;
        background: url('../../img/blockquote.svg') top left no-repeat;
        @include mq-medium {
            font-size: $size-4;
        }
        @include mq-large {
            font-size: $size-3;
        }
        @include mq-xxlarge {
            font-size: $size-2;
        }
    }
}

.page-content .single-title {
    text-transform: none;
    margin-bottom: 1rem;
}
.single-content {
    margin-bottom: $spacer*2;
    @include mq-medium {
        margin-bottom: $spacer*4;
    }
}
.single-category {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .5rem;
}
.single-meta {
    color: $dark-gray;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    span {
        width: 50%;
        display: inline-block;
    }
}
// FLEXIBLE CONTENT
.fc-block {
    margin-bottom: $spacer;
    @include mq-medium {
        margin-bottom: $spacer*2;
    }
}
.fc-gallery {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    @include mq-medium {
        flex-flow: row;
    }
}
.fc-gallery .caption {
    max-width: 100%;
    margin: 0;
    font-size: $small;
}
.main-image-box {
    width: 100%;
    @include mq-medium {
        width: 60%;
    }
}
#main-image {
    width: 100%;
    height: auto;
    padding: .5rem;
}
.thumb-box {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    align-content: space-between;
    @include mq-medium {
        width: 35%;
    }
}
.thumb-list {
    clear: both;
    order: 2;
    margin-bottom: $spacer;
    @include mq-medium {
        order: 1;
    }
}
.thumb {
    width: 25%;
    padding: .5rem;
    float: left;
    cursor: pointer;
    @include mq-medium {
        width: 48%;
    }
}
.image-caption {
    clear: both;
    padding: .5rem;
    order: 1;
    @include mq-medium {
        order: 2;
    }
}
.fc-img-block {
    img {
        width: 100%;
        height: auto;
    }
}