.blog-content {

    @include mq-medium {
        margin-bottom: $spacer*4;
    }
}

.folder-label {
    border-bottom: 5px solid $forest-green;
    margin-bottom: $spacer;

    @include mq-medium {
        margin-bottom: $spacer*2;
    }

    h3 {
        margin-bottom: 0;
        display: inline-block;
        padding: .5rem 2.25rem .25rem 1rem;
        font-size: $base;
        font-weight: $bold;
        text-transform: uppercase;

        color: $white;

        background-position: top right;
        background-image: url('../../img/right-triangle.svg');
        background-repeat: no-repeat;
        background-size: cover;

        @include mq-medium {
            font-size: $size-6;
        }

        @include mq-xlarge {
            font-size: 1.5rem;
        }
    }

    &.Knowledge {
        border-color: #3f3e3d;
        h3 { background-image: url('../../img/right-triangle-3.svg'); }
    }

    &.Innovations {
        border-color: $bright-green;
        h3 { background-image: url('../../img/right-triangle-2.svg'); color: $forest-green; }
    }
}

.innovations {
    .folder-label {
        border-color: $bright-green;

        h3 {
            background-position: top right;
            background-image: url('../../img/right-triangle-2.svg');
            background-repeat: no-repeat;
            background-size: cover;

            color: $forest-green;
        }
    }
}

.knowledge {
    .folder-label {
        border-color: $dark-gray;

        h3 {
            background-position: top right;
            background-image: url('../../img/right-triangle-3.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.blog-section {
    margin-bottom: 4rem;
}

.blog-excerpt {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    margin-bottom: $spacer;

    @include mq-medium {
        margin-bottom: $spacer*2;
        flex-flow: row;
    }
}

.excerpt-image {
    width: 100%;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    @include mq-medium {
        width: 35%;
    }
}

.excerpt-title {
    font-size: 1.35rem;
    line-height: 1.2em;
    margin-top: 1rem;

    a {
        font-weight: bold;
        color: $forest-green;

        &:hover {
            color: $bright-green;
        }
    }

    @include mq-medium {
        margin-top: 0;
        font-size: 2rem;
    }

    @include mq-xxlarge {
        font-size: $size-3;
    }
}

.excerpt-details {
    width: 100%;

    display: flex;
    flex-flow: column;
    justify-content: space-between;

    @include mq-medium {
        width: 62%;
    }
}

.blog-slide {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100%;

    @include mq-large {
        height: 93vh;
    }
}

.slide-article {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 95%;

    @include mq-medium {
        left: 10%;
        width: 40%;
    }

    .folder-label {
        margin-bottom: 0;

        h3 {
            font-size: $base;

            @include mq-xlarge {
                padding-bottom: .5rem;
            }
        }
    }
}

.slide-details {
    background: white;
    padding: 1rem;

    @include mq-medium {
        padding: 2rem;
    }

    h4 {
        line-height: 1.25em;
    }

    h4 a {
        font-size: $size-6;
        font-weight: $bold;
        color: $forest-green;
        margin-bottom: 2rem;

        @include mq-medium {
            font-size: $size-3;
            line-height: 1.2;
        }

        &:hover {
            color: $bright-green;
        }
    }
}