/* @group •• BUTTONS */

    .btn {
        display: inline-flex;
        border: none;
        padding: .5rem 1rem;
        min-height: 50px;

        cursor: pointer;
        background-color: $bright-green;
        font-size: $base;
        font-weight: $bold;
        color: $forest-green;
        text-decoration: none;
        text-transform: uppercase;
        align-items: center;

        @include mq-xlarge {
            font-size: $size-6;
        }

        @include mq-xxlarge {
            font-size: 1.5rem;
        }

        svg {
            margin-left: 1rem;
            fill: $forest-green;
        }
        &:hover {
            background: $bright-green-hover;
        }
    }

    .btn-gray {
        @extend .btn;

        background-color: $gray;
        color: $white;

        svg {
            fill: $white;
        }
    }

    .apply-now {
        margin-bottom: 1rem;

        @include mq-medium {
            margin-bottom: 0;
        }
    }

    .view-more-btn {
        display: block;
        background-color: $gray;
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
        padding: 1rem;
        letter-spacing: 1px;

        &:hover {
            background-color: $bright-green;
        }
    }


    .btn-link {
        color: $forest-green;
        text-transform: uppercase;
        font-weight: $bold;
        font-size: $base;

        &:hover {
            color: $bright-green;

            svg {
                fill: $bright-green;
            }
        }

        svg {
            fill: $forest-green;
            margin-top: -2px;
            height: $base;
        }
    }