
.callout-container {
    @extend .container;
    display: flex;
}

.chat-callout {
    position: relative;
    display: inline-block;
    padding: 1.2rem $spacer;
    margin: $spacer 0;
    background-color: $forest-green;

    @include mq-medium {
        padding: 1.2rem $spacer*2;
        margin: $spacer*2 0;
    }

    h3 {
        font-size: $size-6;
        margin-bottom: 1rem;

        font-weight: $regular;
        color: $white;

        @include mq-medium {
            font-size: $size-5;
        }
    }

    p {
        margin: 0;
        color: $bright-green;
    }

    @include mq-medium {
        background-image: url('../../img/fg-triangle.svg');
        background-repeat: no-repeat;
        background-position: center right;
        background-size: cover;
        background-color: transparent;
    }

    &.isHidden {
        display: none;
    }
}

.close-callout {
    position: absolute;
    top: 5px;
    left: 5px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    img {
        width: 15px;
        height: 15px;

        @include mq-medium {
            width: auto;
            height: auto;
        }
    }

    @include mq-medium {
        top: 1.5rem;
        left: 1.5rem;
    }
}