/* @group •• CONTINUE READING */

    .continue-reading {
        color: $forest-green;
        text-transform: uppercase;

        background-image: url(../../img/tkl-grid-pattern-small.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        border-top: 1px solid $bright-green;
        border-bottom: 1px solid $bright-green;
        margin: 0 0 $spacer*2 0;

        @include mq-medium {
            margin: $spacer*2 0;
        }

        .link-text {
            color: $forest-green;
            display: inline-block;
            padding: $spacer/2 $spacer $spacer/2 $spacer/2;
            border-left: 1px solid $bright-green;
            max-width: 70%;
            background-color: #fff;
            font-size: $small;

            @include mq-medium {
                font-size: $base;
                padding: $spacer $spacer*2 $spacer $spacer;
            }

            @include mq-xxlarge {
                font-size: $size-6;
            }
        }

        h4 {
            font-size: 1.5rem;
            line-height: 1.2em;
            margin: 0;
            font-weight: $bold;
            text-transform: uppercase;

            @include mq-medium {
                font-size: $size-4;
                margin: 1rem 0;
            }

            @include mq-xlarge {
                font-size: $size-3;
                margin: 1rem 0;
            }
        }

        .cr-triangle {
            position: relative;

            img {
                height: 100%;
                width: auto;
            }
        }

        .cr-link {
            display: flex;

            &:hover {
                .link-text {
                    color: $bright-green;
                }

                svg {
                    fill: $bright-green;
                }
            }
        }

        .cr-arrow {
            svg {
                fill: $forest-green;
            }

            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            z-index: 2;
        }
    }