.contact-wrapper {
    position: relative;
}

.page-content-tab {
    display: none;

    @include mq-medium {
        display: block;
        font-weight: $bold;
        text-transform: uppercase;
        line-height: 60px;
        font-size: $size-5;
        color: $forest-green;


        padding: 0 3.5rem 0 2rem;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }
}

.page-content .contact-header {
    h2 {
        margin-bottom: $spacer;

        @include mq-medium {
            margin-bottom: $spacer*2;
        }
    }
}

.contact-content {
    display: flex;
    justify-content: space-between;
    flex-flow: column;

    @include mq-medium {
        flex-flow: row;
        margin-bottom: $spacer*2;
    }
}

.contact-form {
    width: 100%;
    margin-bottom: $spacer*2;

    @include mq-medium {
        width: 45%;
        margin-bottom: 0;
    }
}

.contact-map {
    width: 100%;

    @include mq-medium {
        width: 45%;
    }
}

.contact-map-container {
    img,
    iframe {
        width: 100%;
    }
}

.tkl-cform {
    input,
    textarea,
    select {
        appearance: none;
        background: #eee;
        width: 100%;
        margin-bottom: 1.25rem;
        padding: .75rem 1rem;
        outline: none;
        border-radius: 0;
        font-size: $base;
        font-family: $sans-serif;
        color: $forest-green;
        border: 2px solid #eee;
        box-shadow: none !important;

        &:focus {
            border: 2px solid $forest-green;
        }
    }

    select {
        border-radius: 0;
        appearance: button;
        -webkit-user-select: none;
        background-image: url('../../img/select-arrow.svg');
        background-position: 97% center;
        background-repeat: no-repeat;
        overflow: hidden;
        padding: .75rem 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #777;
    }

    button.frm_final_submit {
        @extend .btn;
    }
}

.g-recaptcha {
    margin-bottom: $spacer;
}