/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}

/* ====================================================================================================================
 * My Styles
 * ====================================================================================================================*/

.slides,
.flexslider {
    position: relative;
}

.slides {
    padding: 0;
}

.flex-direction-nav {
        position: absolute;
        bottom: 4rem;
        left: 12.5%;
        z-index: 3;
        padding: 0;
}

.flex-nav-prev,
.flex-nav-next {
    display: inline-block;
    line-height: 0;
}

.flex-nav-prev a {
    margin-right: 1.5rem;
}

.flex-next,
.flex-prev {
    @extend .ir;
    width: 30px;
    height: 40px;
    background-image: url('../../img/rarr.svg');
    background-repeat: no-repeat;
    background-size: 30px auto;
    display: inline-block;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }
}

.flex-prev {
    background-image: url('../../img/larr.svg');
}


.flex-control-nav.flex-control-paging {
    position: absolute;
    top: 0;
    right: 4%;
    margin: 0;
    padding: 0;
    opacity: .5;

    @include mq-medium {
        top: 90%;
        bottom: auto;
        right: 10%;
    }

    li {
        display: inline-block;

        a {
            background: transparent;
            display: inline-block;
            margin-left: 10px;
            color: $white;
            border: 1px solid $white;
            width: 1.75rem;
            height: .75rem;

            font: 0/0 a;
            text-shadow: none;
            color: transparent;

            &.flex-active {
                background: $white;
            }
        }

    }
}