/* @group Footer */

    .site-footer {
        padding: $spacer 0;
        background: $dark-gray;
        color: $white;

        @include mq-medium {
            padding: $spacer*2 0;
        }

        .view-map {
            font-weight: $bold;
            color: $gray;
            text-transform: uppercase;

            &:hover {
                color: $bright-green;
            }
        }

        h5 {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: .75rem;
        }

        h6 {
            font-size: $small;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: .75rem;
        }

        a {
            color: $white;
        }
    }

    .footer-boxes {
        width: 90%;
        margin: 0 auto;

        display: flex;
        flex-flow: column;
        font-size: $small;
        justify-content: space-between;

        @include mq-medium {
            flex-flow: row;
        }

        @include mq-large {
            width: 75%;
        }

        @include mq-xxlarge {
            font-size: $size-6;
        }
    }

    .footer-box {
        margin-bottom: $spacer;
        border-bottom: 1px solid #333;
        padding-bottom: $spacer;

        @include mq-medium {
            width: 30%;
            border-bottom: none;
            padding-bottom: 0;
        }
    }

    .footer-contact {
        td {
            padding: 0 1rem 0 0;

            &:last-child {
                padding: 0;
            }
        }

        .footer-email {
            td {
                padding-top: 1rem;
            }
        }

        .footer-email ~ .footer-email {
            td {
                padding-top: 0;
            }
        }
    }



    .social-links {
        padding: 0;

        li {
            display: inline-block;

            margin-right: 1rem;

            list-style: none;

            &:hover path {
                fill: $bright-green;
            }
            &:hover rect {
                stroke: $bright-green;
            }
        }

        path {
            fill: $white;
        }

        rect {
            stroke: $gray;
            stroke-width: 2;
        }

        svg {
            width: 30px;
            height: 30px;

            @include mq-large {
                width: 45px;
                height: 45px;
            }
        }
    }

    .copyright {
        width: 90%;
        margin: $spacer auto 0;
        font-size: $small;
        text-transform: uppercase;

        @include mq-medium {
            margin: $spacer*2 auto 0;
        }

        @include mq-large {
            width: 75%;
        }
    }

    .footer-nav {
        ul {
            padding: 0;
        }

        li {
            list-style: none;
        }
    }