/* @group GLOBAL */

    html {
        box-sizing: border-box;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;

        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .ir {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
    }

    .hr-bar-green {
        display: inline-block;
        height: 4px;
        width: 40px;
        margin: 0 0 1rem;
        border: none;
        background: $forest-green;
    }

    .hr-bar-white {
        display: inline-block;
        height: 4px;
        width: 40px;
        margin: 0 0 1rem;
        border: none;
        background: $white;
    }

    .text-center {
        text-align: center;
    }