/* @group •• HERO (HOME) */

    .hero {
        position: relative;
        display: flex;

        min-height: 100vh;

        background-color: $bright-green;
        // background-image: url('../../img/home-hero.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        justify-content: center;
        align-items: center;

        h2 {
            span {
                color: $bright-green;
            }
        }

        img {
            height: auto;
            width: 100%;
        }

        .hero-content {
            @extend .container;
            color: $white;

            @include mq-medium {
                padding: 2rem 0 3rem;
                margin-top: 3rem;
            }

            h2 {
                margin-bottom: .75rem;

                @include mq-medium {
                    margin-bottom: 2rem;
                }
            }

            p {
                max-width: 100%;
                margin-bottom: 1rem;

                @include mq-medium {
                    max-width: 35%;
                    margin-bottom: 2.5rem;
                }
            }
        }

        .hero-image {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .section-heading {
        color: $white;
        font-size: $size-3;
        font-weight: $bold;
        text-transform: uppercase;

        @include mq-medium {
            font-size: $size-1;
            line-height: 4rem;
        }

        @include mq-xxlarge {
            font-size: 7rem;
            line-height: 6rem;
        }
    }

    .scroll-down {
        display: none;

        @include mq-medium {
            display: block;
            position: absolute;
            left: 50%;
            bottom: $spacer*1;
            font-size: $small;
            color: $bright-green;
            text-transform: uppercase;
            z-index: 3;
            // text-shadow: 0 0 3px #000;

            transform: translatex(-50%);

            background-image: url('../../img/scroll-icon.svg');
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: center bottom;
            padding: 0 0 1.5rem 0;
        }

        @include mq-xxlarge {
            font-size: $size-6;
        }
    }



    /* @group •• HERO BANNER */

        .hero-banner {
            position: relative;
            width: 100%;
            max-height: calc( 100vh - 63px );
            margin-top: $top-bar-height;
            overflow: hidden;
        }

        .banner-image {
            width: 100%;
            height: auto;
            max-width: 100%;
        }