/* @group KITCHEN SINK */

    .kitchen-sink {
        margin: 4rem auto;
        section {
            margin-bottom: 4rem;
        }
    }

    .kitchen-sink-title {
        display: inline-block;

        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 2px solid $black;
    }
