#lb-gallery {

    .lb-main-image {
        width: 100%;
        display: block;

        #main-image {
            padding: 0;
        }
    }

    .lb-gallery-thumbs {
        width: 100%;
        display: block;
    }

    .lb-thumb-list {
        overflow: auto;
        clear: both;
        margin: .5rem 0 1rem;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;

        li {
            list-style: none;
            width: 31%;
            margin-bottom: .5rem;

            @include mq-medium {
                width: 24%;
            }
        }

        .thumb {
            width: 100%;
            padding: 0;
        }
    }

}