.lightbox-post {
    background: $white;
    padding-bottom:4rem;
    width: 90%;
    margin: $top-bar-height+20px auto;
    z-index: 9003;
    position: relative;
    color: $forest-green;
}

.lightbox-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 3rem 2rem 0;
    margin-bottom: $spacer;

    background-image: url('../../img/tkl-grid-pattern-small.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-bottom: 1px solid #8CC63E;

    @include mq-large {
        padding: 6rem 7rem 0;
    }

    & > div {
        width: 48%;
    }
}

.lb-job .lightbox-header > div {
    width: 100%;
    border-bottom: 3px solid $forest-green;
    padding-bottom: .5rem;
}

.lb-people .lightbox-header-inner,
.lb-client .lightbox-header-inner {
    width: 100%;
    border-bottom: 3px solid $forest-green;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: flex-end;
    padding-bottom: .5rem;

    & > div {
        width: 100%;

        @include mq-medium {
            width: 48%;
        }
    }

    @include mq-medium {
        flex-flow: row;
    }
}

.lb-csr .lightbox-header-inner {
    width: 100%;
    border-bottom: 3px solid $forest-green;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: flex-end;
    padding-bottom: .5rem;

    & > div:first-child {
        width: 100%;

        @include mq-medium {
            width: 70%;
        }
    }

    & > div:last-child {
        width: 100%;
        margin-top: .5rem;

        @include mq-medium {
            width: 25%;
            margin-top: 0;
            text-align: right;
        }
    }

    @include mq-medium {
        flex-flow: row;
    }
}

.lightbox-title {
    font-size: $size-4;
    margin-bottom: .5rem;

    @include mq-medium {
        font-size: $size-3;
        margin-bottom: 0;
    }
}

.lightbox-position {
    font-size: $base;
    text-transform: uppercase;
    font-weight: bold;
}


.lightbox-date {
    @extend .lightbox-position;
}

.lightbox-detail {
    font-size: $small;
    text-transform: uppercase;
}

.lightbox-article {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    flex-flow: column;

    @include mq-large {
        flex-flow: row;
        padding: 0 7rem;
    }
}

    .lightbox-article {
        .lb-content-right,
        .lb-content-left {
            width: 100%;

            @include mq-large {
                width: 48%;
            }
        }
    }

.lb-featured-image {
    margin-bottom: $spacer;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.lb-excerpt {
    font-weight: bold;
    font-size: $size-6;
    color: $forest-green;

    @include mq-medium {
        font-size: $size-5;
    }

    @include mq-medium {
        font-size: $size-4;
    }
}

.lb-content {
    color: $forest-green;

    strong {
        font-weight: bold;
    }

    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

.job-heading {
    font-size: $base;
    text-transform: uppercase;
    font-weight: bold;
}

.job-footer {
    margin-top: $spacer;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    flex-flow: column;

    @include mq-medium {
        padding: 0 7rem;
        flex-flow: row;
    }

    & > div {
        width: 100%;

        @include mq-medium {
            width: 48%;
        }
    }
}

.apply-email {
    color: $bright-green;
    font-weight: bold;
    font-size: $base;
    margin-bottom: $spacer;
    display: inline-block;

    @include mq-medium {
        font-size: $size-5;
    }

    svg {
        fill: $bright-green;
    }

    &:hover {
        color: $forest-green;

        svg {
            fill: $forest-green;
        }
    }
}

.apply-now-back {
    svg {
        margin: 0 1rem 0 0;
    }
}

.job-content {
    display: block;
    z-index: 1;
    opacity: 1;
    transition: opacity .3s;
    transition-delay: .3s;
}

.job-content.isHidden {
    display: none;
    z-index: 0;
    opacity: 0;
}

.appliation-content {
    display: block;
    z-index: 1;
    opacity: 1;
    transition: opacity .3s;
    transition-delay: .3s;
}

.application-content.isHidden {
    display: none;
    z-index: 0;
    opacity: 0;
}


.mfp-close-btn-in .mfp-close {
    color: $bright-green;
    font-size: 48px;
    font-weight: bold;
    left: 5px;
    top: 6px;
}

.mfp-bg {
    background: rgba(0, 27, 5, 0.98)
}