.page-404 {
    min-height: 60vh;
    padding-top: $top-bar-height;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;

    h2 {
        width: 100%;
        font-size: 5rem;
        margin-bottom: 1rem;
    }
    h5 {
        width: 100%;
    }
}