body.menu-open,
body.type-isopen,
body.usage-isopen {
    overflow: hidden;
}

#site-wrapper.menu-open .icon-menu {
    background-image: url('../../img/icon-menu-close.svg');
    background-repeat: no-repeat;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 9;
    overflow: scroll;
    min-height: 100vh;
    width: 100%;

    background-color: $forest-green;
    background-image: url('../../img/tkl-hexagrid-pattern.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: transform .3s;
    transform: translateY(-100%);

    justify-content: center;
    align-items: center;
}

.menu-overlay-container {
    width: 90%;
    margin: 0 auto;
    // padding-bottom: $top-bar-height;

    @include mq-medium {
        width: 75%;
    }
}

.menu-container {
    width: 90%;
    margin: 0 auto;

    @include mq-medium {
        width: 75%;
    }
}

#site-wrapper.menu-open .menu-overlay {
    transform: translateY(0);
}

#site-wrapper.menu-open .top-bar {
    border-bottom: 1px solid $forest-green-hover;
}

.top-bar-logo {
    opacity: 1;
    transition: .3s;
}

#site-wrapper.menu-open .top-bar-logo {
    @include mq-medium {
        opacity: 0;
    }
}

.menu-overlay-header {
    margin: 0 0 2rem;

    @include mq-medium {
        display: flex;
        justify-content: space-between;
        margin: 0 0 4rem;
    }
}

.menu-overlay-logo {
    display: none;

    @include mq-medium {
        display: block;
        width: 50%;

        a {
            display: block;
        }

        img {
            width: 65%;
        }
    }
}

.overlay-nav {
    margin: 0;
    padding: 0;
    width: 100%;

    @include mq-medium {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
    }
}

.overlay-nav > li > a,
.type-nav > li > a,
.usage-nav > li > a {
    display: inline-block;
    margin-bottom: 10px;
    padding: .5rem;
    width: 100%;
    background: $nav-link;
    font-size: $base;
    font-weight: $bold;
    color: $bright-green;
    text-transform: uppercase;
    box-shadow: 0 0 10px $dark-forest-green;

    &.isEmpty {
        color: darken($forest-green, 3);
        pointer-events: none;
    }

    &:hover {
        background: $bright-green;
        color: $forest-green;
    }

    @include mq-medium {
        padding: 1rem;
        margin: .75rem 0;
        font-size: $size-5;
    }
}

.menu-overlay-footer {
    margin-top: 1rem;

    @include mq-medium {
        margin-top: 3rem;
    }

    h5 {
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 0;
        font-size: $base;
        font-weight: $regular;
        color: $bright-green;
        text-transform: uppercase;
    }

    .social-links {
        display: inline-block;
        margin-bottom: 0;

        li {
            &:hover path {
                fill: $white;
            }
            &:hover rect {
                opacity: 1;
                stroke: $white;
            }
        }

        path {
            fill: $bright-green;
        }

        rect {
            opacity: .2;
            stroke: $bright-green;
        }
    }
}