/* @group PAGES */

    .page-content {
        position: relative;
        @extend .top-pattern;
        padding: $spacer  0;

        @include mq-medium {
            padding: $spacer*2 0 0;
        }

        @include mq-large {
            padding: $spacer*4 0 0;
        }

        header {
           h2 {
               margin-bottom: 0;
               font-size: 2.125rem;

               @include mq-medium {
                   font-size: 2.75rem;
               }

               @include mq-large {
                    font-size: 4.75rem;
               }

               @include mq-xxlarge {
                    font-size: 7rem;
               }
           }
        }
    }

    h2 {
        font-size: 2.125rem;
        line-height: 1em;
        text-transform: uppercase;
        font-weight: $bold;
        color: $forest-green;
        hyphens: auto;

        @include mq-medium {
            font-size: $size-1;
            hyphens: none;
        }

        @include mq-xxlarge {
            font-size: 7rem;

        }
    }


    .top-pattern {
        background-image: url('../../img/tkl-grid-pattern-small.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 210%;

        @include mq-medium {
            background-size: 105%;
        }
    }

/* @group •• TKL STORY */

    .trust-matters {
        h2 {
            color: $forest-green;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2.125rem;
            margin-bottom: 0;

            @include mq-medium {
                font-size: $size-1;
                margin-bottom: $spacer;
            }

            @include mq-xxlarge {
                font-size: 7rem;
                line-height: 6rem;
            }
        }
    }

    .page-header {
        display: flex;
        flex-flow: column;
        padding: $spacer 0;
        justify-content: space-between;


        @media only screen and (min-width: 840px) {
            padding: $spacer*2 0;
            flex-flow: row;
        }

        div:first-child {
            width: 100%;
            margin-bottom: $spacer;

            @media only screen and (min-width: 840px) {
                width: 55%;
                margin-bottom: 0;
            }

            img {
                width: 100%;
            }
        }

        div:last-child {
            width: 100%;

            @media only screen and (min-width: 840px) {
                width: 40%;
            }
        }

        h4 {
            text-transform: uppercase;
        }
    }

    .strong-foundations {
        background-image: url('../../img/02b-strong-foundations.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $white;

        h2 {
            font-size: 2.125rem;
            text-transform: uppercase;
            color: $white;
            margin: 0;

            @include mq-large {
                font-size: $size-2;
            }

            @include mq-xxlarge {
                font-size: $size-1;
            }

            span {
                color: $bright-green;
            }
        }

        .hr-bar {
            background: $white;
        }
    }

    .our-mission {
        color: #14411D;
        width: 90%;
        margin: $spacer auto;

        @include mq-medium {
            margin: $spacer*3 auto auto 12.5%;
            margin-left: 12.5%;
            width: auto;
        }

        h2 {
            font-size: 2.125rem;
            text-transform: uppercase;

            @include mq-medium {
                font-size: $size-1;
            }

            @include mq-xxlarge {
                font-size: 7rem;
                line-height: 6rem;
            }
        }

    }



    .our-mission  .page-header {
        padding-top: 0;

        @include mq-medium {
            padding-top: $spacer;
        }

        .our-mission-content {
            width: 100%;
            padding-right: 10%;

            @include mq-large {
                width: 45%;
                padding-right: 5%
            }
        }

        .our-mission-image {
            width: 100%;

            @include mq-medium {
                width: 45%;
            }

            img {
                width: 100%;
            }
        }
    }

    .our-vision {
        background-color: $forest-green;
        background-image: url('../../img/02d-our-vision.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $white;

        h2 {
            padding-top: $spacer;
            color: $white;
            font-size: 2.125rem;
            text-transform: uppercase;

            @include mq-medium {
                padding-top: $spacer*2;
                font-size: $size-1;
            }

            @include mq-xxlarge {
                font-size: 7rem;
                line-height: 6rem;
            }
        }

        .hr-bar {
            background-color: $white;
        }

        .our-vision-content {
            display: flex;
            justify-content: flex-end;
            padding: $spacer 0;

            @include mq-medium {
                padding: $spacer 0 $spacer*2;
            }

            div {
                width: 100%;

                @include mq-large {
                    width: 40%;
                }
            }
        }
    }

/* @group ---- STORIES / PROJECTS */

    .stories-container,
    .projects-container {
        @extend .container;
    }

    .stories-category,
    .projects-category {
        font-size: 2.125rem;
        margin-bottom: $spacer;

        @include mq-medium {
            font-size: 2.75rem;
            margin-bottom: $spacer*2;
        }

        @include mq-large {
             font-size: 4.75rem;
        }

        @include mq-xxlarge {
             font-size: 7rem;
        }
    }

    #product-title {
        font-size: 2.125rem;
        margin-bottom: $spacer;

        @include mq-medium {
            font-size: 2.75rem;
        }

        @include mq-large {
             font-size: 3.75rem;
        }

        @include mq-xxlarge {
             font-size: 5rem;
        }
    }

    .story,
    .project {
        border-bottom: 2px solid $silver-gray;
        color: $forest-green;
        margin-bottom: $spacer/2;
        padding-bottom: $spacer/2;

        display: flex;
        flex-flow: column;

        @include mq-medium {
            flex-flow: row;
            margin-bottom: $spacer;
            padding-bottom: $spacer;
        }
    }

    .story-image,
    .projects-image {
        width: 100%;
        margin-bottom: 1rem;

        img {
            width: 100%;
            height: auto;
        }

        @include mq-medium {
            margin: 0 $spacer*2 0 0;
            width: 50%;
        }
    }

    .story-excerpt {
        @extend .text-6;

        p {
            margin-bottom: 0;
        }

        @include mq-medium {
            font-size: $size-5;
        }

        @include mq-xxlarge {
            font-size: $size-3;
        }
    }

    .project-title {
        @extend .text-5;
        margin-bottom: .5rem;
        text-transform: none;

        @include mq-large {
            font-size: $size-4;
        }

        @include mq-xxlarge {
            font-size: $size-3;
        }
    }

    .story-subtitle {
        font-size: $base;
    }

    .timestamp {
        text-transform: uppercase;
        color: $gray;
        margin-bottom: 1.5rem;
        font-size: $base;
    }

    .story-details,
    .project-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        @include mq-medium {
            width: 70%;
        }
    }

    .story-title {
        text-transform: uppercase;
        font-weight: $bold;
        @extend .text-6;
        margin-bottom: 0;

        @include mq-medium {
            font-size: $size-6;
        }
    }

    .story-footer {
        display: flex;
        justify-content: space-between;
        flex-flow: column;

        @include mq-medium {
            flex-flow: row;
            align-items: flex-end;
        }
    }

    .stories-pagination {
        @extend .container;
    }

    .story-link {
        margin-top: $spacer;

        @include mq-medium {
            margin-top: 0;
        }
    }

/* @group •• STEEL PRODUCTS */

    .product-header {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        margin-bottom: $spacer;
        text-align: left;

        div:first-child {
            width: 100%;
            margin-bottom: 2rem;
        }

        div:last-child {
            width: 100%;
        }

        @include mq-large {
            flex-flow: row;
            margin-bottom: $spacer*2;

            div:first-child {
                width: 50%;
                margin-bottom: 0;
            }

            div:last-child {
                width: 30%;
            }
        }

        @include mq-xlarge {
            div:last-child {
                width: 45%;
            }
        }
    }

    .related-products-index {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;
    }

    .products-index {
        margin-bottom: $spacer;

        @include mq-medium {
            margin-bottom: $spacer*2;
        }
        .alm-listing {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: stretch;
        }
    }


    .product {
        width: 48%;
        display: block;
        cursor: pointer;

        &:hover .product-name {
            color: $bright-green;
        }

        @include mq-medium {
            width: 23%;
            margin-bottom: 1rem;
        }
    }

    .product-image {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .product-name {
        font-size: $base;
        font-weight: $bold;
        text-transform: uppercase;
        color: $forest-green;
    }

    .filler {
        height: 0;
        width: 23%;
    }

    .product-index-btn {
        text-align: center;
        margin-bottom: $spacer;

        @include mq-medium {
            margin-bottom: $spacer*4;
        }
    }

/* @group ---- PRODUCT PAGE */

    .product-name-header {
        border-bottom: 3px solid $forest-green;
        margin-bottom: $spacer;

        @include mq-medium {
            margin-bottom: $spacer*2;
        }

        .product-name {
            font-size: $size-5;
            margin-bottom: 1rem;

            @include mq-medium {
                font-size: $size-3;
            }
        }
    }

    .product-page-content {
        header {
            margin-bottom: $spacer;
            display: flex;
            flex-flow: column;
            justify-content: space-between;

            @include mq-medium {
                flex-flow: row;
                margin-bottom: $spacer*2;
            }

            img {
                width: 100%;
                height: auto;
                margin-bottom: 1rem;
            }

            div:first-child { width: 100%; }
            div:last-child { width:  100%; }

            @include mq-medium {
                img {
                    width: 100%;
                    margin-bottom: 0;
                }
                div:first-child { width: 60%; }
                div:last-child { width:  35%; }
            }
        }
    }

    .product-details {
        margin-bottom: $spacer*2;
    }

    .product-details .product-section-title,
    .related-products .product-section-title {
        border-bottom: 3px solid $silver-gray;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 2rem;

        h3 {
            text-transform: uppercase;
            font-size: $size-5;
            font-weight: $bold;
            color: $forest-green;
            margin-bottom: .5rem;
        }

        .view-more-btn {
            text-transform: uppercase;
            color: $bright-green;
            font-weight: $bold;

            &:hover {
                color: $bright-green-hover;
            }
        }
    }

    .product-info {
        margin-bottom: $spacer*2;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        @include mq-medium {
            flex-flow: row;
        }

        .info {
            width: 100%;

            @include mq-medium {
                width: 24%;
            }
        }

        h6 {
            font-size: $x-small;
            text-transform: uppercase;
            margin-bottom: 0;
            font-weight: bold;

            @include mq-medium {
                margin-bottom: 1rem;
                font-weight: normal;
            }
        }
    }

    .download-btn.btn {
        background: $forest-green;
        color: $white;
        font-size: $base;

        padding: .5rem;
        min-height: auto;

        @include mq-medium {
            padding: 0 1rem;
            min-height: 50px;
        }
    }

    .more-related-btn {
        text-transform: uppercase;
        color: $forest-green;
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
            color: $bright-green;
        }
    }

    .tip {
        background: $silver-gray;
        margin-bottom: 1rem;
        padding: 1rem 0;

        display: flex;
        flex-flow: column;
        justify-content: space-between;

        @include mq-medium {
            margin-bottom: $spacer;
            padding: $spacer 0;
            flex-flow: row;
        }
    }

    .tip-gravatar {
        display: flex;
        color: $forest-green;
        width: 100%;
        flex-flow: row;
        margin-bottom: 1rem;

        @include mq-medium {
            width: 25%;
            margin-bottom: 0;
        }

        .gravatar-image {
            margin-right: 1rem;
        }

        img {
            width: 100px;
            border-right: 10px solid $bright-green;
            margin-right: 1rem;
            height: auto;
        }
    }

    .tip-info {
        text-transform: uppercase;
    }

    .tip-author {
        font-weight: $bold;
        margin-bottom: 0;
        font-size: $size-6;
    }

    .tip-position {
        font-size: $small;
    }

    .tip-content {
        width: 100%;
        padding: 0 1rem;

        @include mq-medium {
            padding: 0 $spacer;
            width: 75%;
        }

        h6 {
            margin-bottom: .5rem;
            text-transform: uppercase;
            color: $forest-green;
            font-weight: $bold;

            @include mq-medium {
                margin-bottom: 1rem;
            }
        }

        p {
            margin: 0;
        }
    }


    .related-products {
        margin-bottom: 0;

        @include mq-medium {
            margin-bottom: $spacer*2;
        }
    }


/* @group •• CAREERS */

    .page-content .career-header {
        margin-bottom: $spacer*2;

        h2 {
            margin-bottom: $spacer;
        }
    }

    .career-writeup,
    .job-openings {
        width: 100%;

        @include mq-medium {
            width: 70%;
        }
    }

    .job-openings {
        margin-bottom: $spacer*2;

        @include mq-medium {
            margin-bottom: $spacer*4;
        }

        h3 {
            font-weight: bold;
            text-transform: uppercase;
            color: $forest-green;
            font-size: $size-4;
            border-bottom: 3px solid #eee;
            padding-bottom: .5rem;
            margin-bottom: $spacer/2;

            @include mq-medium {
                margin-bottom: $spacer;
            }
        }
    }

    .listing {
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        margin-bottom: $spacer/2;
        padding-bottom: $spacer/2;
        border-bottom: 3px solid #eee;

        h4 {
            display: inline-block;
            margin-bottom: 5px;
            font-weight: $bold;

            @include mq-medium {
                margin-bottom: 0;
            }
        }

        a {
            padding: .5rem;
            min-height: auto;

            @include mq-medium {
                min-height: 50px;
                padding: .5rem 1rem;
            }

            svg {
                width: 15px;

                @include mq-medium {

                }
            }
        }

        @include mq-medium {
            flex-flow: row;
            align-items: center;
            margin-bottom: $spacer;
            padding-bottom: $spacer;
        }
    }

    .view-more-jobs {
        @extend .btn;
        color: $white;
        letter-spacing: 1px;
        width: 100%;
        text-align: center;
        display: block;
        background-color: $forest-green;
        margin-bottom: 2rem;
    }