.search .page-content {
    padding-top: $spacer*2;

    @include mq-medium {
        padding-top: $spacer*3;
    }
}


#search-header {
    margin: $spacer 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    @include mq-medium {
        margin-bottom: $spacer*2;
        flex-flow: row;
    }

    h2 {
        text-transform: none;
        font-size: $size-3;
    }

    span {
        text-transform: uppercase;
        color: $forest-green;
        font-size: $small;
    }

    .searched-for,
    .search-field {
        width: 100%;
        margin-bottom: $spacer;

        @include mq-medium {
            width:  48%;
        }
    }

    .searched-for {
        order: 2;

        @include mq-medium {
            order: 1;
        }
    }

    .search-field {
        order: 1;

        @include mq-medium {
            order: 2;
        }
    }
}

.search-results {
    margin-bottom: $spacer;

    @include mq-medium {
        margin-bottom: $spacer*2;
    }
}

.result-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: $spacer;
    padding-bottom: $spacer;
    border-bottom: 3px solid $light-gray;
}

.result-details {
    width: 70%;
}

.result-image {
    width: 20%;

    img {
        width: 100%;
        height: auto;
    }
}


.result-title {
    margin-bottom: 1rem;
    line-height: 1.4rem;

    a {
        color: $forest-green;
        font-size: $size-6;
        font-weight: bold;

        &:hover {
            color: $bright-green;
        }
    }
}


.search-bar-container {
    width: 100%;

    @include mq-medium {
        width: 49%;
    }
}

.search-bar {
    display: flex;
    width: 100%;
    background: $dark-forest-green;
    text-align: right;

    align-items: center;

    input[type="submit"] {
        @extend .ir;

        height: 38px;
        width: 38px;
        margin-right: 1rem;

        cursor: pointer;
        background-color: $dark-forest-green;
        background-image: url('../../img/tkl-search-icon-green.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 80%;
        border: none;

        &:focus {
            outline: none;
        }
    }

    input[type="search"] {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        background: $dark-forest-green;
        font-weight: $bold;
        color: $bright-green;
        border: none;
        outline: none;

        @include mq-medium {
            padding: 1.25rem;
        }
    }

    input[type="search"]::-webkit-input-placeholder {
        font-weight: bold;
        color: $bright-green;
        text-transform: uppercase;
    }
}