.share-bar {
    background: $light-gray;
    position: relative;
    display: inline-block;
    padding: 1rem;
    margin-bottom: $spacer;

    @include mq-medium {
        margin-bottom: $spacer*2;
    }

    ul {
        padding: 0;
        margin: 0;
    }
    li {
        display: block;
        margin-right: 1rem;
        margin-bottom: 1rem;

        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
        @include mq-medium {
            display: inline-block;
            margin-bottom: 0;
        }
        @include mq-large {
            margin-right: 1.5rem;
        }
        @include mq-xxlarge {
            margin-right: 2.5rem;
        }
    }
    a {
        text-transform: uppercase;
        font-weight: $bold;
        font-size: $base;
        color: $bright-green;
        @include mq-xxlarge {
            font-size: 1.5rem;
        }
        &:hover {
            color: $forest-green;
            svg {
                fill: $forest-green;
            }
        }
        svg {
            margin-right: .5rem;
            fill: $bright-green;
        }
    }
}
.print-button,
.print-lightbox {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: $base;
    color: $bright-green;
    @include mq-xxlarge {
        font-size: 1.5rem;
    }
    svg {
        fill: $bright-green;
    }
    &:hover {
        color: $forest-green;
        svg {
            fill: $forest-green;
        }
    }
}

.share-trigger,
.close-share {
    cursor: pointer;
}

#share-icons .close-share {
    display: none;

    @include mq-large {
        display: inline;
    }
}

#share-icons.isHidden {
    @include mq-large {
        opacity: 0;
        z-index: -1;
        transform: translateX(80%);
        transition: transform .3s, opacity .3s;
    }
}

#share-icons {
    margin-top: 1rem;
    opacity: 1;
    width: max-content;

    @include mq-large {
        opacity: 1;
        margin-top: 0;
        position: absolute;
        z-index: 2;
        background: $light-gray;
        top: 0;
        right: 0;
        padding: .6rem;
        transform: translateX(100%);
        transition: transform .3s, opacity .3s;
    }

    li {
        display: inline;
        margin-bottom: 0;

        &:last-child svg {
            margin-right: 0;
        }

        @include mq-large {
            margin-right: .5rem;
        }
    }

    li:hover {
        svg, path {
            fill: $forest-green;
            &:hover { fill: $forest-green; }
        }

        rect {
            stroke: $forest-green;
            &:hover { stroke: $forest-green; }
        }
    }

    svg, path {
        fill: $bright-green;
        width: 40px;
        height: 40px
    }

    rect {
        stroke: $bright-green;
    }
}