/* @group HOME - PRODCUTS (HOME) */

    .home-products {
        padding: 4rem 0 0;
        background: $light-gray;

        img {
            width: 100%;
        }

    }

    .home-products-header {
        @extend .container;

        display: flex;
        justify-content: space-between;
        flex-flow: column;

        @include mq-large {
            flex-flow: row;
        }

        >div,
        >h3 {
            width: 100%;

            @include mq-large {
                width: 48%;
            }
        }

        h3 {
            @extend .text-4;
            margin-bottom: $spacer;
            text-transform: uppercase;

            @include mq-medium {
                font-size: $size-3;
            }
        }

        p {
            margin: 0 auto $spacer;
            margin-top: 0;
        }
    }

    .home-products-slider {
        padding: 1rem 0 0;
        overflow: hidden;
        text-align: center;

        @include mq-medium {
            padding: 4rem 0 0;
        }

        video {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }

    .video-mobile {
        display: block;

        @include mq-large {
            display: none;
        }
    }

    .video-desktop {
        display: none;

        @include mq-large {
            display: block;
        }
    }