.our-people-slider {
    @include mq-medium {
        margin-bottom: $spacer*4;
    }

    h2 {
        color: $bright-green;
        margin: 0 0 $spacer 5%;

        @include mq-medium {
            margin: 0 0 $spacer*2 12.5%;
        }
    }
}

.slider-container {
    @include mq-medium {
        overflow: hidden;
        width: 100%;

        .flex-viewport {
            overflow: visible !important
        }
    }
}

#our-people-flexslider {
    width: 90%;
    margin: 0 auto;

    @include mq-medium {
        max-width: 100%;
        margin: 0 auto 0 7.5%;
    }

    .slide {
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        @include mq-medium {
            flex-flow: row;
        }
    }

    .slide-content {
        width: 100%;
        color: $forest-green;

        display: flex;
        flex-flow: column;
        order: 2;

        .slide-quote {
            @extend .text-6;
            line-height: 1.5em;
            margin: 1rem 0;

            @include mq-medium {
                margin-top: 2rem;
                font-size: $size-5;
            }
        }

        @include mq-medium {
            order: 1;
            width: 40%;
            margin-left: 6%;
        }
    }

    .slide-author {
        font-size: $base;
        margin: 1rem 0;
    }

    .slide-image {
        width: 100%;
        order: 1;

        img {
            width: 100%;
        }

        @include mq-medium {
            order: 2;
            width: 45%;
        }
    }

    .author-name {
        font-weight: bold;
        text-transform: uppercase;
    }

    .slide-btn {
        flex-grow: 1;
        display: flex;
        align-items: flex-end;
    }

    .flex-direction-nav {
        position: absolute;
        display: flex;
        bottom: 4.75%;
        left: 70%;
        z-index: 2;
        margin-bottom: 0;

        @include mq-medium {
            left: 40%;
            bottom: 0;
        }
    }
}