/* @group •• SLIDER (VALUES) */

    .home-values {
        position: relative;
        padding: $spacer*2 0;
        background-image: url(../../img/tkl-grid-pattern-small.svg), url(../../img/bg-2.svg);
        background-position: top center, top left;
        background-repeat: no-repeat, no-repeat;
        background-size: 105%, 13%;

        @include mq-medium {
            padding: $spacer*4 0 $spacer*2;
        }

        @include mq-large {
            background-image: url(../../img/bg-1.svg), url(../../img/tkl-grid-pattern-small.svg), url(../../img/bg-2.svg);
            background-position: top right, top center, top left;
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-size: 72%, 105%, 13%;
        }

        .section-heading {
            color: $forest-green;
        }
    }

    .slider-header {
        @extend .container;
    }

    .flex-slide {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        width: 90%;
        margin: 0 auto;

        @include mq-medium {
            flex-flow: row;
            width: 100%;
        }
    }

    .flex-slide-content {
        padding-top: $spacer;
        order: 2;

        @include mq-medium {
            padding-top: 0;
            order: 1;
            width: 50%;
            padding-left: 12.5%;
        }

        @include mq-large {
            padding-top: $spacer*2;
        }

        .slide-title {
            font-size: $size-5;
            font-weight: bold;
            color: $forest-green;
            text-transform: uppercase;

            @include mq-medium {
                // .text-4
                font-size: 2.125rem;
                line-height: .95em;
            }

            @include mq-xxlarge {
                font-size: $size-3;
            }
        }
    }

    .flex-slide-image {
        width: 100%;
        order: 1;

        @include mq-medium {
            order: 2;
            width: 45%;
        }
    }

    .slide-image {
        width: 100%;
    }

    .slide-writeup {
        font-size: $base;

        @include mq-xlarge {
            font-size: $size-6;
        }

        @include mq-xxlarge {
            font-size: $size-5;
        }
    }

    #core-values .flex-direction-nav {
        bottom: -2rem;
        left: 5%;

        @include mq-medium {
            bottom: -3rem;
            left: 12.5%;
        }

        @include mq-large {
            bottom: $spacer*2;
        }
    }