.infobox__inner {
    font-family: $sans-serif;
}

.infobox__title {
    font-weight: bold !important;
}

#info-description {
    display: none !important;
}

#dirbutton {
    background: $bright-green;
    color: $forest-green;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;

    &:hover {
        background: $forest-green;
        color: $bright-green;
    }
}

.infobox__closer {
    background: url('../../img/cross-green.png') center center no-repeat !important;
}

.gmnoprint img {
    width: 40px !important;
    height: 46px !important
}

.store-locator__map-pin,
.store-locator__map-pin.is-active {
    color: #8cc63e !important;
}