body.type-isopen,
body.usage-isopen, {
    .tab-bar-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
}

// Tab Bar

.tab-bar-menu {
    transition: .5s;

    text-transform: uppercase;
    position: sticky;
    width: 100%;
    top: $top-bar-height;
    left: 0;
    z-index: 8;
    display: flex;
    overflow: hidden;
    background: $light-gray;
    justify-content: center;
    font-size: $small;


    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
        }
    }

    nav  {
        white-space: nowrap;
        overflow: auto;
        width: 100%;

        @include mq-medium {
            width: auto;
        }
    }
}

.tab-bar-title {
    display: none;

    @include mq-large {
        font-size: $size-5;
        font-weight: $bold;
        color: $forest-green;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 3.5rem 0 2rem;
        line-height: 60px;
        text-transform: uppercase;

        a {
            color: $forest-green;
            &:hover {
                color: $white;
            }
        }
    }
}

.trapezoid {
    background-image: url('../../img/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}

.tab-bar-link {
    display: inline-block;
    box-sizing: border-box;
    font-size: $small;

    padding: .5rem .5rem;

    color: $forest-green;
    text-transform: uppercase;
    border: 10px solid transparent;

    &.active {
        border-bottom: 10px solid $forest-green;

        -webkit-text-stroke: 1px $forest-green;
        text-stroke: 1px $forest-green;
    }

    @include mq-medium {
        margin: 0 .5rem;

        &:hover {
            border-bottom: 10px solid $forest-green;

            -webkit-text-stroke: 1px $forest-green;
            text-stroke: 1px $forest-green;
        }
    }
}

.tab-bar-btn {
    display: inline-block;
    box-sizing: border-box;
    font-size: $small;
    padding: .5rem 0rem;
    color: $forest-green;
    text-transform: uppercase;
    border: 5px solid transparent;
    background: transparent;
    cursor: pointer;

    &::after {
        content: '+';
        margin-left: .5rem;
        font-weight: $bold;
        font-size: 1.1rem;
    }

    &.active {
        border-bottom: 10px solid $forest-green;
        -webkit-text-stroke: 1px $forest-green;
        text-stroke: 1px $forest-green;
    }

    @include mq-medium {
        padding: .5rem;
        border: 10px solid transparent;

        &:hover {
            border-bottom: 10px solid $forest-green;

            -webkit-text-stroke: 1px $forest-green;
            text-stroke: 1px $forest-green;
        }
    }
}

.view-by {
    margin: 0 .5rem;
    padding: .5rem 0rem;
    display: inline-block;

    @include mq-medium {
        padding: .5rem .5rem;
    }
}


/* @group ---- TAB BAR MENU DROPDOWN  */

.page-template-page-product-template .tab-bar-menu {
    margin-top: $top-bar-height;
}

.tab-bar-container {
    position:  relative;
    text-align: center;
}

.single-product {
    .page-content {
        padding-top: 10rem;

        @include mq-medium {
            padding-top: 12rem;
        }
    }

    .tab-bar-container {
        position: fixed;
        top: $top-bar-height;
        left: 0;
        width: 100%;
        z-index: 10;
    }
}


.type-dropdown-nav,
.usage-dropdown-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.type-dropdown,
.usage-dropdown {
    position: fixed;
    top: $tab-bar-height - 10px;
    left: 0;
    width: 100%;
    padding: $spacer 0 $spacer*2;
    z-index: 7;

    @include mq-medium {
        top: $tab-bar-height;
        padding: $spacer*1 0 $spacer*3;
    }

    background-color: $forest-green;
    background-image: url('../../img/tkl-hexagrid-pattern.svg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    display: none;
}


.menu-item-has-children > .type-dropdown-trigger {
    display: block;
}

.type-dropdown-trigger {
    display: none;
    background-image: url('../../img/tkl-hexagrid-pattern.svg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 62px;
    background: transparent;
    position: absolute;
    z-index: 100;
    top: .75rem;
    right: 0;
    cursor: pointer;
}

.type-dropdown-isOpen,
.usage-dropdown-isOpen {
    display: block;
    height: 100%;
    overflow: scroll;
}

.usage-btn,
.type-btn {
    outline: none;
}

.type-btn-isClicked,
.usage-btn-isClicked {
    -webkit-text-stroke: 1px $forest-green;
    text-stroke: 1px $forest-green;
    border-bottom: 10px solid $forest-green;

    &:active,
    &:focus {
        outline: none;
    }

    &::after {
        content: '-';
        font-weight: $bold;
    }
}

ul.type-nav,
ul.usage-nav {
    padding: 0;
    margin: 0;
    width: 100%;

    li {
        position: relative;
    }

    @include mq-medium {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
    }
}

ul.type-nav > li > a,
ul.usage-nav > li > a { // added styles from .overlay-nav a
    font-size: $size-6;
    text-align: left;
}


// Link: Submenu is closed
ul.type-nav > .menu-item-has-children > a,
ul.usage-nav > .menu-item-has-children > a {
    position: relative;
    background-image: url('../../img/dd-arrow.svg');
    background-position: 97% center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 17px;
}

// Link Hover: Submenu is closed
ul.type-nav > .menu-item-has-children > a:hover,
ul.usage-nav > .menu-item-has-children > a:hover {
    background-image: url('../../img/dd-arrow-right.svg');
    background-size: 17px;
}

// Link: Submenu is open
ul.type-nav > .menu-item-has-children.isOpen > a,
ul.usage-nav > .menu-item-has-children.isOpen > a,
ul.type-nav > .menu-item-has-children.isOpen > a:hover,
ul.usage-nav > .menu-item-has-children.isOpen > a:hover {
    background-image: url('../../img/dd-arrow-down.svg');
    background-color: $bright-green;
    background-size: 25px;
    color: $forest-green;
    box-shadow: none;
}


// Submenu: Submenu is open
.menu-item-has-children.isOpen {
    .sub-menu {
        padding: 0 2rem 1rem;
        max-height: 400px;
        // transition: 0.3s;
    }

    li {
        opacity: 1;
        // transition: opacity 1s;
    }
}

// Submenu: Submenu is closed
.sub-menu { // added styles from .overlay-nav a
    // overflow: hidden;
    max-height: 0;
    // transition: padding .3s, max-height 0.3s;


    padding: 0 2rem;
    background: $bright-green;
    width: 100%;
    text-align: left;
    margin: -.75rem 0 .75rem 0;

    @include mq-medium {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
    }


    li {
        opacity: 0;
        transition: opacity .3s;
        list-style: none;
        margin: 0 0 .75rem 0;
        line-height: 1.2rem;

        a {
            font-size: $base;
            color: $forest-green;
            &:hover { color: $white; }
        }
    }
}