.contain-topbar {
    background: $forest-green;
}

/* @group •• TOPBAR */

    .top-bar {
        opacity: 1;
        transform: translateY(0);
        transition: .5s;

        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        z-index: 1000;
        padding: .5rem;
        width: 100%;
        padding: .75rem;

        background: $forest-green;
        color: $bright-green;

        justify-content: space-between;
        align-items: center;

        @include mq-medium {
            padding: .75rem 1.5rem;
        }
    }

    .top-bar-menu {
        display: flex;

        width: 33.333%;
        text-align: left;

        .icon-menu {
            display: inline-block;

            height: 36px;
            width: 39px;

            cursor: pointer;
            background: url('../../img/icon-menu.svg') no-repeat transparent;
            background-size: cover;
        }
    }

    .top-bar-logo {
        svg {
            width: 100%;
        }

        text-align: center;
        width: 33.333%;
        width: auto;
    }

    .top-bar-contact {
        text-align: right;
        width: 33.333%;

        .icon-phone {
            display: inline-block;
            font-weight: $bold;
            text-transform: uppercase;

            svg {
                width: 33px;
                height: auto;

                @include mq-large {
                    width: 26px;
                    margin-right: 6px;
                }
            }

            @include mq-large {
                pointer-events: none;
            }
        }

        .call {
            display: none;

            @include mq-large {
                display: inline-block;
                margin-right: 1rem;
            }
        }

        .number {
            display: none;

            a {
                color: $bright-green;
            }

            @include mq-large {
                display: inline-block;
            }
        }

        @include mq-xxlarge {
            font-size: 1.3125rem;
        }
    }

    /* Styles for dialog window */
    #phone-popup {
        background: $forest-green;
        color: $bright-green;
        padding: 1rem $spacer;
        text-align: center;
        position: relative;
        height: 100vh;
        width: 100vw;

        .mfp-close {
            right: 5px;
            left: auto;
        }
    }


    .number-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-top: 1rem;

        strong {
            color: $white;
            font-size: $size-6;
        }
    }

    .phone-numbers a {
        display: block;
        font-size: $size-6;
        color: $bright-green;
        margin-bottom: 1.5rem;
    }