/* typenugget.com */

body {
    font-family: $sans-serif;
    font-weight: $regular;
    font-size: 16px;
    line-height: 1.5;
    color: $forest-green;

    @include mq-xxlarge {
        font-size: 28px;
    }
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
}

h1 {
    font-size: 6em;
    margin-bottom: 1.5rem;
    line-height: 1.17;
    letter-spacing: -0.03em;
}

h2 {
    font-size: 2.61em;
    margin-bottom: 1.5rem;
    margin-bottom: 0.83em;
    line-height: 1.17;
}

h3 {
    font-size: 1.84em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 1.33;
}

h4 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

h5 {
    font-size: 1.23em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

h6 {
    font-size: 1.15em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

p {
    margin-bottom: 1.5rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-left: 1.1em;
}
