    /* @group Fonts */
    $sans-serif: 'Montserrat', sans-serif;
    $serif: serif;
    $monospace: Courier, Lucida Console, Lucida Sans Typewriter, monospace;

/* @group Font Sizes */
    $base: 1rem;
    $size-1: 4.75rem;
    $size-2: 3.625rem;
    $size-3: 2.75rem;
    $size-4: 2.125rem;
    $size-5: 1.625rem;
    $size-6: 1.25rem;
    $small: .875rem;
    $x-small: .75rem;
    $blockquote: $size-4;
    $code-size: $base;

/* @group Font Weights */
    $light: 300;
    $regular: 400;
    $bold: 700;
    $x-bold: 800;
    $heavy: 900;

/* @group Measurements */
    $top-bar-height: 63px;
    $tab-bar-height: 57px;
    $spacer: 2rem;


/* @group Colors */
    $bright-green: #8CC63E;
    $bright-green-hover: lighten($bright-green, 5);
    $forest-green: #14411D;
    $forest-green-hover: #1f4d20;
    $nav-link: $forest-green-hover;
    $dark-forest-green: #0f3216;
    $ivory: #FBF8F2;
    $light-gray: #f8f8f8;
    $gray: #939597;
    $dark-gray: #3f3e3d;
    $silver-gray: #F1F1F2;
    $black: #000000;
    $white: #ffffff;

    $text-color: $forest-green;
    $text-invert: #ffffff;


/* @group Custom Breakpoints */
    $medium: 40em; // 640px
    $large: 64em; // 1024px
    $xlarge: 90em; // 1440px
    $xxlarge: 100em; // 1600px
    $mbp13: 80em; // 1280px
    $mbp15: 90em; // 1440px

/* @group EXTENSIONS */

.text-1,
.text-2,
.text-3,
.text-4,
.text-5,
.text-6 {
    margin: 0 0 1.5rem;
    color: $forest-green;
    font-weight: $bold;
}


.text-1 {
    font-size: 4.75rem;
    letter-spacing: -4px;
    line-height: 4rem;
    text-transform: uppercase;
}

.text-2 {
    font-size: 3.625rem;
    letter-spacing: -1px;
    line-height: 1em;
}

.text-3 {
    font-size: 2.75rem;
    letter-spacing: -1px;
}

.text-4 {
    font-size: 2.125rem;
    line-height: .95em;
}

.text-5 {
    font-size: 1.625rem;
    letter-spacing: -1px;
}

.text-6 {
    font-size: 1.25rem;
    letter-spacing: -1px;
}

.small {
    font-size: .875rem;
}

.x-small {
    font-size: .75rem;
}

