/* @group •• WAREHOUSE */

.page-content.warehouse {
    padding: 0;

    h2.title {
        font-size: $size-4;
        font-family: $sans-serif;
        font-weight: bold;
    }

    .infobox__cta.ssflinks {
        color: $forest-green;
    }

    .infobox__row--marker {
        background: $forest-green;
        padding: $spacer;
    }

    .infobox__marker {
        color: $bright-green;
        border-radius: 0;
        font-family: $sans-serif;
        border: none;
        background-color: transparent;
        background-image: url('../../img/map-pin-z.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 48px;
        height: 53px;

        @include mq-medium {
            width: 60px;
            height: 68px;
        }
    }

    .store-locator__infobox.is-active .infobox__marker {
        background-color: transparent;
    }

    #mainContent .section {
        padding-bottom: 0;

        @include mq-large {
            padding-bottom: $spacer*2;
        }
    }

    #storeLocatorMap {
        top: 0 !important;
        height: stretch;
    }
}

.gmnoprint {
    div div[title="Zoom in"] {
        &:before {
            content: '+';
            font-size: 19px;
            margin-left: 8px;
            color: gray;
        }

        div {
            display: none;
        }
    }

    div div[title="Zoom out"] {
        &:before {
            content: '-';
            font-size: 29px;
            margin-left: 10px;
            color: gray;
            line-height: 21px;
        }

        div {
            display: none;
        }
    }
}

.gmnoprint .gm-svpc div[aria-label="Street View Pegman Control"] img {
    width: 215px !important;
    height: 835px !important;
}